@use '../scss/partials/common' as *;
@use '../scss/partials/mediaqueries' as *;
@use '../scss/partials/typography' as *;
@use '../scss/partials/utilities' as *;
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font-family: "Montserrat";
}

[v-cloak] {
  display: none;
}